params{

    //show help message
    help=false

    //input sample sheet
    samplesheet = "samplesheet.csv"
    
    //default output
    output= "$projectDir/output"

    //databases
    kraken_db = "$projectDir/db/kraken_db"
    confindr_db = "$projectDir/db/confindr_db"
    
    //adapters for qc trimming
    adapter_file="$projectDir/data/adapters.fas"
    
    
    //assembly parameters
    min_contig_length = 500
    assembler_thread = 8
    assembler_ram = 16
    medaka_model = "r941_e81_fast_g514"
}


profiles {
    standard {
        docker.runOptions='-u $(id -u):$(id -g) --platform=linux/x86_64'
        docker.enabled = true
        //rework base
        //container = 'juliofdiaz/python-base:latest'
        //to be changed
        process {
            executor = 'local'
            withLabel: bash_container {
                container = 'varunshamanna/bash_ghru'
            }
            withLabel: kmc_container{
                container = 'varunshamanna/kmc_ghru'
            }
            withLabel: trimmomatic_container{
                container = 'quay.io/biocontainers/trimmomatic:0.36--3'
            }
            withLabel: fastqc_container{
                container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
            }
            withLabel: shovill_container{
                container = 'staphb/shovill:1.1.0-2022Dec'
            }
            withLabel: quast_container{
                container = 'quay.io/biocontainers/quast:5.2.0--py312pl5321hc60241a_4'
            }
            withLabel: dragonflye_container{
                container = 'quay.io/staphb/dragonflye:latest'
            }
            withLabel: 'nanoplot_container'{
                container = 'quay.io/biocontainers/nanoplot:1.42.0--pyhdfd78af_0'
            }
            withLabel: 'porechop_container'{
                container = 'quay.io/biocontainers/porechop:0.2.4--py310h84f13bb_8'
            }
            withLabel: 'unicycler_container'{
                container = 'quay.io/biocontainers/unicycler:0.5.0--py39heaaa4ec_5'
            }

        }  
    }
}