profiles {
    standard {
        docker.runOptions='--platform=linux/x86_64'
        docker.enabled = true
        //rework base
        //container = 'juliofdiaz/python-base:latest'
        //to be changed
        process {
            executor = 'local'
            withLabel: bash_container {
                container = 'wbitt/network-multitool:69aa4d5'
            }
            withLabel: kmc_container{
                container = 'varunshamanna/kmc_ghru'
            }
            withLabel: trimmomatic_container{
                container = 'quay.io/biocontainers/trimmomatic:0.36--3'
            }
            withLabel: fastqc_container{
                container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
            }
            withLabel: shovill_container{
                container = 'staphb/shovill:1.1.0-2022Dec'
            }
            withLabel: quast_container{
                container = 'quay.io/biocontainers/quast:5.2.0--py312pl5321hc60241a_4'
            }
            withLabel: dragonflye_container{
                container = 'quay.io/staphb/dragonflye:latest'
            }
            withLabel: 'nanoplot_container'{
                container = 'quay.io/biocontainers/nanoplot:1.42.0--pyhdfd78af_0'
            }
            withLabel: 'porechop_container'{
                container = 'quay.io/biocontainers/porechop:0.2.4--py310h84f13bb_8'
            }
            withLabel: 'unicycler_container'{
                container = 'biocontainers/unicycler:0.4.8--py38h8162308_3'
            }

        }  
    }
}