//Load base config
includeConfig 'config/base.config'

manifest {
    contributors = 'GHRU Team'
    name = 'ghru_assembly'
    homePage = 'https://github.com/cgps-discovery/GHRU-assembly'
    description = 'A completely new GHRU Assembly Pipeline and is designed for assembling genomic data based on a provided samplesheet.'
    mainScript = 'main.nf'
    version = '4.0.0'
    nextflowVersion = '>=24.10.3'
}

plugins {
    id 'nf-schema@2.2.0'
}

params { 
    samplesheet = "${launchDir}/samplesheet.csv"
    outdir = "${launchDir}/output"
    adapter_file = "${projectDir}/data/adapters.fas"
    max_memory = '16.GB'
    max_cpus = 10
    max_time = '10.h'
    min_contig_length = 500
    medaka_model = 'r941_e81_fast_g514'
}

validation {
    help {
        enabled = true
        beforeText = """
 ▗▄▄▖▗▖ ▗▖▗▄▄▖ ▗▖ ▗▖     ▗▄▖  ▗▄▄▖ ▗▄▄▖▗▄▄▄▖▗▖  ▗▖▗▄▄▖ ▗▖ ▗▖  ▗▖
▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌ ▐▌    ▐▌ ▐▌▐▌   ▐▌   ▐▌   ▐▛▚▞▜▌▐▌ ▐▌▐▌  ▝▚▞▘ 
▐▌▝▜▌▐▛▀▜▌▐▛▀▚▖▐▌ ▐▌    ▐▛▀▜▌ ▝▀▚▖ ▝▀▚▖▐▛▀▀▘▐▌  ▐▌▐▛▀▚▖▐▌   ▐▌  
▝▚▄▞▘▐▌ ▐▌▐▌ ▐▌▝▚▄▞▘    ▐▌ ▐▌▗▄▄▞▘▗▄▄▞▘▐▙▄▄▖▐▌  ▐▌▐▙▄▞▘▐▙▄▄▖▐▌  
                                      
        """
        command = 'nextflow run main.nf --samplesheet <samplesheet> --outdir <output_dir>'
    }
    summary {
        enabled = true
    }
}

profiles {
    standard {
        docker.runOptions='-u $(id -u):$(id -g)'
        docker.enabled = true

        process {
            executor = 'local'
            container = 'varunshamanna/bash_ghru'
            withLabel: bash_container {
                container = 'varunshamanna/bash_ghru'
            }
            withLabel: python_container {
                container = 'python'
            }
            withLabel: kmc_container{
                container = 'varunshamanna/kmc_ghru'
            }
            withLabel: trimmomatic_container{
                container = 'quay.io/biocontainers/trimmomatic:0.36--3'
            }
            withLabel: fastqc_container{
                container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
            }
            withLabel: shovill_container{
                container = 'staphb/shovill:1.1.0-2022Dec'
            }
            withLabel: quast_container{
                container = 'quay.io/biocontainers/quast:5.2.0--py312pl5321hc60241a_4'
            }
            withLabel: dragonflye_container{
                container =  'pranit10/cgps:dragonflye_medaka'
            }
            withLabel: 'nanoplot_container'{
                container = 'quay.io/biocontainers/nanoplot:1.42.0--pyhdfd78af_0'
            }
            withLabel: 'porechop_container'{
                container = 'quay.io/biocontainers/porechop:0.2.4--py310h84f13bb_8'
            }
            withLabel: 'unicycler_container'{
                container = 'quay.io/biocontainers/unicycler:0.5.0--py39heaaa4ec_5'
            }
            withLabel: 'checkm_container'{
                container = 'quay.io/biocontainers/checkm-genome:1.2.3--pyhdfd78af_0'
            }
            withLabel: 'speciation_container'{
                container = 'juliofdiaz/speciator:4.0.0'
            }
            withLabel: 'speccheck_container' {
                container = 'happykhan/speccheck:0.2.1'
            }
            withLabel: 'confindr_container' {
                container = 'quay.io/biocontainers/confindr:0.8.1--pyhdfd78af_0'
            }
            withLabel: 'sylph_container' {
                container = 'happykhan/sylph:0.1.0'
            }
            withLabel: 'ariba_container' {
                container = 'happykhan/ariba_contam:0.1.0'
            }            

        }  
    }
}